.about-section{
    padding: 40px 15%;
    min-height: 100vh;
    text-align: center;

    .head{

        h3{
            color: rgba(255, 255, 255, 0.415);
            font-weight: 200;
            font-size: 20px;
            margin-top: 50px;
            margin-bottom: 0;
            text-align: center;
        }
    }

    .details{
        margin-top: 40px;
        h1{
            font-size: 32px;
            line-height: 55px;
            margin-top: 20px;
        }

        p{
            color: rgba(255, 255, 255, 0.615);
            font-size: 20px;
            line-height: 30px;
            margin-top: 20px;
        }
    }

    .technologies{
        .tech-set{
            width: 33.3%;
            display: inline-block;

            h2{
                margin: 5px;
                font-size: 20px;
                font-weight: 300;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .about-section{
        padding: 40px 5%;
        height: unset;

        .details{
            
            h1{
                font-size: 22px;
                // text-align: left;
                line-height: 37px;
            }

        }
        .technologies{
            .tech-set{
                h2{
                    // font-size: ;
                }
            }
        }
    }
}


@media only screen and (max-width: 768px){
    .about-section{
        .technologies{
            .tech-set{
                width: 50%;

            }
        }
    }
}