.contact-section{
    height: 100vh;
    padding: 60px 7%;

    .head{

        h1{
            font-size: 28px;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.415);;
        }
    }
}