.contact-section{
    min-height: 70vh;
    padding: 100px 7%;
    position: relative;
    text-align: center;

    .head{
        

        h1{
            font-size: 28px;
            text-align: center;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.815);;
        }

        h3{
            font-weight: 200;
            font-size: 20px;
            width: fit-content;
            margin: 0 auto;
            color: rgba(255, 255, 255, 0.515);;
            padding-left: 25px;
            position: relative;

            &::before{
                content: '';
                width: 20px;
                height: 1px;
                background: rgba(255, 255, 255, 0.415);;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);

            }
        }
    }

    .content{
        margin: 150px 0;

        .section-1{

            .contact-set{
                display: flex;
                cursor: pointer;
                justify-content: center;
                align-items: center;
                margin: 20px 0;

                svg{
                    fill: rgba(255, 255, 255, 0.529);
                }

                a{
                    margin: 0;
                    color: rgba(255, 255, 255, 0.529);
                    margin-left: 20px;
                    font-size: 35px;
                    transition: all .5s;

                    &:hover{
                        color: white;
                    }

                }
            }
        }
    }

    .last-note{
        position: absolute;
        bottom: 7%;
        right: 0;
        transform: translateX(-50%);
        color: rgba(255, 255, 255, 0.295);

        p{
            margin: 0;
        }

        .copyright{
            font-size: 14px;
            margin-bottom: 3px;
        }
    }
}

@media only screen and (max-width: 768px){
    .contact-section{
        padding: 50px 5%;
        min-height: 300px;
        height: 50vh;
        .content{
            margin: 30px 0;
    
            .section-1{
    
                .contact-set{
    
                    svg{
                        fill: rgba(255, 255, 255, 0.529);
                    }
    
                    a{
                        font-size: 25px;;
    
                    }
                }
            }
        }

        .last-note{
            bottom: 10%;
            transform: translateX(-20%);
        }       
    }



}