.case-study-section{
    min-height: 100vh;
    padding: 3% 7%;
    position: relative;

    .head{
        h1{
            margin-top: 0;
            font-size: 28px;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.415);;
        }        
    }

    .cases-container{
        .set{
            min-width: 100%;
            margin: 300px 0 100px;
            // max-height: 70vh;
            display: flex;
            align-items: flex-end;

            &:first-child{
                margin-top: 100px;
            }
        }
    }

}

@media only screen and (max-width: 768px){
    .case-study-section{
        padding: 3% 5%;
        padding-top: 40px;

        .head{
            h1{
                margin: 0;
                font-size: 24px;
            }
        }

        .cases-container{

            .set{
                min-height: 100vh;
                margin: 0 !important;
                align-items: center;
            }
        }
    }
}