.nav-menu{
    height: 100vh;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 9;
    overflow: hidden;
    background: #25272C;

    .img-bg-holder,
    .image-darkener{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .image-darkener{
        z-index: -1;
        background: rgb(0, 0, 0);
        opacity: 0.75;
    }

    .img-bg-holder{
        z-index: -2;
        
        img{
            height: 100%;
        }
    }

    .content{
        z-index: 100;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 7%;
        justify-content: center;
        color: white;

        ul{
            list-style: none;


            li{
                font-size: 24px;
                margin: 32px 0;
                cursor: pointer;
                color: rgba(255, 255, 255, 0.5);
                text-align: center;
                font-family: 'Kaushan Script', cursive;

                h1{
                    margin: 0
                }

                &:hover{
                    *{
                        color: rgba(255, 255, 255, 1)!important;
                    }
                    
                }                
            }
        }
    }
}